.imgContainer {
    width: 90%;
    display: flex;
    margin: auto;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
}

.uplImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.imgFrame {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.image {
    width: 100%;
    object-fit: contain;
}