.imgContainer {
    width: 90%;
    margin: auto;
    padding: 20px;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-around;
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.uplImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.imgFrame {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.image {
    width: 100%;
    object-fit: contain;
}