#imageBar {
  background-color: #c03555;
  border-top: 3px solid #3a3335;
  width: 100%;
  margin: 0 0 0 -8px;
  min-height: 180px;
  position: fixed;
  bottom: 0px;
  display: flex;
}

#btnColumn {
  background-color: #3a3335;
  border-radius: 20px;
  width: 200px;
  min-width: 200px;
  height: 160px;
  display: flex;
  flex-direction: column;
  margin: 10px 10px 5px 10px;
  align-items: center;
}

.btnColumnItem {
  margin-top: 16px;
}

.btnColumnItem:hover{
  background-color: #8DD5DC;
  border: 2px solid #8DD5DC;
  border-radius: 4px;
  cursor: pointer;
}

#imgScrollBar {
  display: block flex;
  overflow: auto;
  white-space: nowrap;
  margin-right: 10px;
  min-width: 70%;
}

#imgScrollBar > img {
  min-width: 150px;
  width: 150px;
  height: 150px;
  margin: 10px 0 10px 20px;
  object-fit: contain;
  overflow: hidden;
}

#imgUpload {
  display: none;
}

#callImgUpload {
  width: 40%;
  cursor: pointer;
}

#setImg {
  width: 50%;
}

.image {
  width: 100%;
  object-fit: contain;
  padding: auto;
}
